fastapi
uvicorn[standard]
python-dotenv
python-multipart
supabase
PyJWT[crypto]
groq
pdfplumber
anthropic
werkzeug
keras
tensorflow
nibabel
opencv-python-headless
matplotlib
numpy
Pillow
transformers
accelerate
